{% extends 'layout.html.twig' %}

{% block main %}
    <h2>Details</h2>
    <section>
        <h3>{{ idea.title }}</h3>
        <p>Categorized in: {{ idea.category.name }}</p>
        <div>
            {{ idea.description|nl2br }}
        </div>
        <p>By: {{ idea.author }}</p>
        <p>{{ idea.dateCreated|date("Y-m-d") }}</p>
        <p>{{ pif }}</p>
    </section>
{% endblock %}

{% block title %}
Ideas details | {{ parent() }}
{% endblock %}

